*.iws
*.ipr
*.iml
*.jar
*.versionsBackup
*.java-e
/.idea/
/libs/
/out/
/example1/target
/target/

/jtransc-asm/target
/jtransc-rt/target
/jtransc-rt-js/target
/jtransc-rt-as3/target
/jtransc-rt-haxe/target
/jtransc-rt-haxe-lime/target
/jtransc-rt-core/target
/jtransc-gen-js/target
/jtransc-gen-haxe/target
/jtransc-gen-as3/target
/jtransc-libgdx/target
/jtransc-ast/target
/jtransc-gen/target
/jtransc-debugger/target
/jtransc-gen-as3/target
/jtransc-gen-haxe/target
/jtransc-main/target
/jtransc-utils/target
/jtransc-tools/target
/jtransc-lib-media/target
/jtransc-input-rawasm/target

/jtransc-asm/build
/jtransc-rt/build
/jtransc-rt-js/build
/jtransc-rt-as3/build
/jtransc-rt-haxe/build
/jtransc-rt-haxe-lime/build
/jtransc-rt-core/build
/jtransc-gen-js/build
/jtransc-gen-haxe/build
/jtransc-gen-as3/build
/jtransc-libgdx/build
/jtransc-ast/build
/jtransc-gen/build
/jtransc-debugger/build
/jtransc-gen-as3/build
/jtransc-gen-haxe/build
/jtransc-main/build
/jtransc-utils/build
/jtransc-tools/build
/jtransc-lib-media/build
/jtransc-input-rawasm/build


/jtransc-main/program.swf.xml

/inception/target
/build-as3-signatures/outas3
/example-as3/tempsrc
/outas3
/program.swf
out.jar
out_java
*.map
jtransc-intellij-plugin/jtransc-intellij-plugin.zip
/classes
*.7z
*.zip
*.php
.gradle
*.neko
jtransc-main-run/example/program.swf
jtransc-main-run/example/program.js
jtransc-main/program.haxe.js
jtransc-main/program.haxe.noanalyzer.js
