*.iws
*.ipr
*.iml
*.jar
*.versionsBackup
*.java-e
/target/
/build/
/.idea/
/libs/
/out/
/example1/target
/target/
/jtransc-rt/target
/jtransc-rt-js/target
/jtransc-rt-as3/target
/jtransc-rt-haxe/target
/jtransc-rt-haxe-lime/target
/jtransc-rt-core/target
/jtransc-gen-js/target
/jtransc-gen-haxe/target
/jtransc-gen-as3/target
/jtransc-libgdx/target
/jtransc-ast/target
/jtransc-gen/target
/jtransc-debugger/target
/jtransc-gen-as3/target
/jtransc-gen-haxe/target
/jtransc-main/target
/jtransc-main/program.swf.xml
/jtransc-utils/target
/jtransc-tools/target
/jtransc-lib-media/target
/jtransc-input-rawasm/target
/inception/target
/build-as3-signatures/outas3
/example-as3/tempsrc
/outas3
/program.swf
out.jar
out_java
*.map
jtransc-intellij-plugin/jtransc-intellij-plugin.zip
/classes
*.7z
*.zip
*.php
.gradle
*.neko
jtransc-main-run/example/program.swf
jtransc-main-run/example/program.js
jtransc-main/program.haxe.js
jtransc-main/program.haxe.noanalyzer.js
*.properties-e
*.xml-e
/benchmark/program.exe
/benchmark/program.obj
